@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #42455a;
  padding: 20px;
  border-bottom: 2px solid #e0ffff;
}
header nav a {
  padding: 10px 20px;
  font-size: 1.5rem;
  color: #e0ffff;
  border-radius: 5px;
  letter-spacing: 0.5px;
}
header nav a:hover,
header nav a.active {
  background: #e0ffff;
  color: #42455a;
  transition: 0.5s ease-out;
  letter-spacing: 2px;
}
body {
  background: #e0ffff;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: #e0ffff;
}
section:nth-child(2) {
  color: #e0ffff;
  background: #e0ffff;
}
section:nth-child(3) {
  color: #e0ffff;
}
section:nth-child(4) {
  color: #e0ffff;
  background: #e0ffff;
}

section .container {
  margin: 100px;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
  color: #42455a;
}
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #42455a;
}

section h4 {
    font-size: 40px;
    text-transform: uppercase;
    color: #e0ffff;
    text-align: center;
  }

section .text-container {
  display: flex;
}
section .text-container .text-box {
  margin: 40px;
  padding: 20px;
  text-align: center;
  background: #00c2cb;
}

section .text-container .text-box3 {
    margin: 40px;
    padding: 20px;
    text-align: center;
    font-size: 23px;
    color: #e0ffff;
  }

section .text-container .text-box1 {
    margin: 40px;
    padding: 20px;
    text-align: center;
    background: #00c2cb;
  }

  section .text-container .text-box4 {
    margin: 40px;
    padding: 20px;
    text-align: center;
    background: #00c2cb;
    font-size: 17px;
  }

section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
  

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid #e0ffff;
  }

* {
    box-sizing: border-box;
  }
  
  body {
    background: #42455a;
  }
  
  h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
  }
  
  h6:after {
    position: absolute;
    content: "";
    -webkit-animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
    animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
  }

  footer {
    position: fixed;
    padding: 3px;
    text-align: center;
    background-color: #00c2cb;
    color: #42455a;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
  }